@model IEnumerable<WFARTHA.Entities.CAMPOS>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/mensajesError.js"></script>
<body>
    <h4>Error</h4>
</body>
</html>
