@model WFARTHA.Models.DOCUMENTO_MOD

@if (Model.DOCUMENTORP != null)
{
    for (var i = 0; i < Model.DOCUMENTORP.Count; i++)
    {
        <tr>
            <td>@Html.EditorFor(m => m.DOCUMENTORP[i].WITHT)</td>
            <td>@Html.EditorFor(m => m.DOCUMENTORP[i].WT_WITHCD)</td>
            <td>@Html.EditorFor(m => m.DOCUMENTORP[i].BIMPONIBLE)</td>
            <td>@Html.EditorFor(m => m.DOCUMENTORP[i].IMPORTE_RET)</td>
        </tr>
    }
}

